# Dependencies
node_modules/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
